# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files7i6 r c24rf7i8znhm w  w  d rtgbsoiplksda dsax
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore thumbnails created by Windows
Thumbs.db

# Visual Studio
out/
.vs/
obj/
bin/
